.banner-bottom-sponsors img {
	filter: none;
}

#img-meeting {
	margin-left: 550px;
}

#img-register {
	margin-left: 440px;
}

#wrap-register {
	margin-top: -140px;
}

.submenu li a, .sticky-nav .main-menu li a {
	color: #383a50 !important;
}

 .sticky-nav .main-menu .btn-nav{
 	color: #fff !important;
 }

  .sticky-nav .main-menu .btn-login{
 	color: #383a50 !important;
 }

 .sticky-nav .main-menu .btn-login:hover{
 	color: #fff !important;
 }


.primary-menu,
.primary-menu .menu-area .main-menu {
	height: 70px;
}

.btn-nav{
	padding: 15px 20px !important;
}

.banner-section.style-4{
	height: auto;
}

#footer-informasi .fas, #footer-informasi .fab{
	font-size: 1.4rem;
	margin-left: 60px;
}

.judul-text {
	font-size: 1.6rem;
	font-weight: 600;
}

.sub-judul {
	font-size: 1.1rem;
	font-weight: 460;
}

.wrap-registration-fee {
	background-color: #F2F2F2;
	padding: 40px 0px;
}

#table-color {
	background-color: #fff;
}

.checklist {
	content: \2713;
}

.cp{
	margin-bottom: .1rem;
}

.speaker-section.style-1 .section-wrapper .speaker-item .speaker-item-inner .item-thumbx{
	position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.primary-menu .menu-area .main-menu li a{
	padding: 38px 7px;
}

.style-2 .dd-icon-down::before, .style-2 .dd-icon-down::after{
	background: #e6e6e6;
}

.submenu{
	top: 80px;
}

.banner-section.style-4{
	background: #fff;
}

.diamond-sponsor{
	width: 750px;
}

.platinum-sponsor{
	width: 350px;
}

.gold-sponsor{
	width: 220px;
	/*margin-left: 15px;
	margin-right: 15px;*/
}

.silver-sponsor{
	width: 220px;
	margin-left: 15px;
	margin-right: 15px;
}

@media (min-width: 1500px){
	.padding-c{
		padding-left: 5rem !important;
		padding-right: 5rem;
	}
}

#sponsor {
	margin-bottom: -220px;
}

#kontak {
	margin-bottom: -70px;
}

#register-info {
	margin-bottom: -60px;
}

.check-list li::marker{
	padding-right: 10px;
    color: #fd3d6b;
    font-size: 0.875rem;
    position: absolute;
    content: "";
    font-family: "Font Awesome 5 Free";
    color: #fd3d6b;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
}

.pop-up-hover {
	color: #fff;
}